/* ====LAPTOP */
@media only screen and (max-width: 1024px) {
  .navbar a {
    font-size: 1.5rem;
  }
  .sign-in-link {
    font-size: 1.8rem;
    margin-right: 2rem;
  }
  .a-icon {
    width: 20px;
    height: 20px;
  }
  .nav {
    gap: 4.8rem;
  }
  .cta {
    font-size: 1.5rem;
  }
  .logo-nav {
    margin-bottom: 10px;
    padding: 30px 4rem;
  }
  .header-text {
    padding: 26px 4rem;
  }
  header {
    height: 120vh;
  }
  .header-text h2 {
    font-size: 3.5rem;
  }
  .header-text p {
    font-size: 1.2rem;
  }
}

/* ====TABLET */
@media only screen and (max-width: 769px) {
  .bx-menu {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 0;
    right: 100%;
    width: 270px;
    height: 120vh;
    background-color: #1067ce;
    padding: 15px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-box {
    column-gap: 4rem;
    row-gap: 4rem;
  }
  header {
    height: 130vh;
  }
  .header-text h2 {
    font-size: 2rem;
  }
  .about-header h3,
  .portfolio-header h3,
  .news-text h3,
  .client h3 {
    font-size: 3rem;
  }
  .about-header h4 {
    font-size: 1.5rem;
  }
  .about-header p,
  .news-text p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .news-text img {
    height: 210px;
  }
  .news-text {
    padding: 0 4rem;
  }
  .testimonial-text {
    display: flex;
    flex-direction: column;
  }
  .footer-info p {
    font-size: 1.1rem;
    line-height: 1.2;
  }
  .footer-list {
    column-gap: 3rem;
  }
  .footer-list h4 {
    font-size: 1.2rem;
  }
  .form-box input {
    font-size: 11px;
    padding: 8px 20px;
  }
  .form-box button {
    padding: 12px 33px;
    font-size: 10px;
  }
  .footer-end ul {
    font-size: 10px;
    gap: 2rem;
  }
  .footer-end {
    padding: 2rem;
  }
}

/* MOBILE L */
@media only screen and (max-width: 426px) {
  .logo {
    font-size: 2.8rem;
  }
  .header-text h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .header-text p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 3rem;
  }
  header {
    height: 110vh;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-header {
    padding: 5px 4rem;
  }
  .about-box {
    column-gap: 3rem;
    row-gap: 0;
  }
  .news-text {
    grid-template-columns: 1fr;
    padding: 5rem 4rem;
  }
  .testimonial {
    padding: 0 0;
  }
  .map-img {
    width: 452px;
    height: 369px;
  }
  .client-content {
    flex-direction: column;
  }
  .footer-content {
    flex-direction: column;
  }
  .form-box {
    width: 85%;
  }
  .form-box button {
    padding: 13px 28px;
    font-size: 10px;
  }
  .form-box input {
    font-size: 13px;
  }
  .footer-end {
    flex-direction: column;
  }
  .footer-end p {
    font-size: 15px;
  }
  .footer-end ul {
    margin-top: 10px;
    font-size: 10px;
    gap: 10px;
  }
}
/* MOBILE M */
@media only screen and (max-width: 376px) {
  .logo {
    font-size: 2rem;
  }
  .header-text h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .header-text p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 3rem;
  }
  .logo-nav {
    padding: 20px 4rem;
  }
  .header-text {
    padding: 20px 4rem;
  }
  .map-img {
    width: 388px;
    height: 333px;
  }
  .about-header h3,
  .portfolio-header h3,
  .news-text h3,
  .client h3 {
    font-size: 2rem;
  }
  blockquote {
    font-size: 8px;
  }
  .form-box {
    width: 100%;
  }
  .form-box button {
    font-size: 13px;
  }
  .form-box input {
    font-size: 12px;
  }
  .footer-end p {
    font-size: 14px;
  }
  .footer-end ul {
    font-size: 8px;
    gap: 14px;
  }
}
/* MOBILE S */
@media only screen and (max-width: 320px) {
  .logo {
    font-size: 1.8rem;
  }
  .header-text h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .header-text p {
    font-size: 9px;
    line-height: 1.8;
    margin-bottom: 3rem;
  }
  .cta {
    font-size: 1rem;
  }
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .about-header h3,
  .portfolio-header h3,
  .news-text h3,
  .client h3 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  .about-header p,
  .news-text p {
    font-size: 1rem;
  }
  .portfolio-header p {
    font-size: 1rem;
  }
  .map-img {
    width: 342px;
    height: 303px;
  }
  .client img {
    width: 100px;
    height: 100px;
  }
  .footer-info h2 {
    font-size: 1.8rem;
  }
  .footer-info p {
    font-size: 1rem;
  }
  .form-box {
    width: 120%;
  }
  .footer-end p {
    font-size: 12px;
  }
  .footer-end ul {
    font-size: 7px;
    gap: 10px;
  }
}
